/*************************************************************************************************************************************/
/*reset DESKTOP*/
/*************************************************************************************************************************************/
*{
    box-sizing: border-box;
}
aside, div, section, header, footer, nav {
    display: block;
}
html, body, .wrapper, ul, li, ol{
    margin: 0;
    padding: 0;
}
html {
    background: linear-gradient(180deg, #A5C77F, white);
    background-repeat: no-repeat;

}
body {
    margin: 0 auto;
}



.wrapper{
    background: linear-gradient(silver, white);
    width: 90%;
    margin:0 auto;
}


/*SYSTEME DE GRILLES********************************************************************************************/

/**on divise la largeur de l'écran en 12 colonnes. Chaque colonne occupe un douzième de la page**************/

/*largeur d'1 colonne*/
.col-1 {width: 6.25%;}

/*largeur de 2 colonnes*/
.col-2 {width: 12.5%;}

/*largeur de 3 colonnes*/
.col-3 {width: 18.75%;}

/*largeur de 4 colonnes*/
.col-4 {width: 25%;}

/*largeur de 5 colonnes*/
.col-5 {width: 31.25%;}

/*largeur de 6 colonnes*/
.col-6 {width: 37.5%;}

/*largeur de 7 colonnes*/
.col-7 {width: 43.75%;}

/*largeur de 8 colonnes*/
.col-8 {width: 50%;}

/*largeur de 9 colonnes*/
.col-9 {width: 56.25%;}

/*largeur de 10 colonnes*/
.col-10 {width: 62.5%;}

/*largeur de 11 colonnes*/
.col-11 {width: 68.75%;}

/*largeur de 12 colonnes*/
.col-12 {width: 75%;}

/*largeur de 13 colonnes*/
.col-13 {width: 81.25%;}

/*largeur de 14 colonnes*/
.col-14 {width: 87.5%;}

/*largeur de 15 colonnes*/
.col-15 {width: 93.75%;}

/*largeur de 16 colonnes*/
.col-16 {width: 100%;}

/**on aligne les colonnes les unes à côté des autres avec la propriété float**************/
[class*="col-"] {
    float: left;
    padding: 0 15px;
}

/**
	chaque rangée de colonnes doit être enveloppée dans une div de class "row". on applique un clear:both sur chaque row afin d'annuler l'effet de float
    et éviter que les éléments suivants remontent et entourent le "row"

**/
.row:after {
    content: "";
    clear: both;
    display: block;
}


/*END SYSTEME DE GRILLES*************************************************************************************/

/*---------------------------------header-----------------------------------------------------------*/

nav ol{
    height: 30px;
    background-color: #A5C77F;
}

nav ol li{
    display: inline-block;
    float: right;
    padding: 5px;

}

/*nav ol li:nth-of-type(even){*/
    /*position: relative;*/
    /*top: 5px;*/

/*}*/

/*nav ol li:nth-of-type(odd){*/
    /*position: relative;*/


/*}*/

nav ol li a{
text-decoration: none;
}

img[alt=compte]{
    width: 20px;
    height: 20px;

}

img[alt=panier]{
    width: 20px;
    height: 20px;

}

img[alt=loupe]{
    width: 20px;
    height: 20px;

}

nav ul{
    text-align: center;
    height: 60px;
    width: 100%;

}
nav ul li{
    display: inline-block;
    padding: 20px;
}


nav ul li a{
    display: block;
    text-decoration: none;
    padding: 8px;

}

#logo{
    /*margin: 0 auto;*/
    /*width: 300px;*/
    clear: both;
    text-align: center;
    height: 120px;

}
#logo img{
    width: 20%;
}


/*---------------------------------slider-----------------------------------------------------------*/


/*styler les art qui cont h3 et img*/
/*
#slides{
    !*width: 100%;*!
    border-right: 10px solid greenyellow;

}*/
#slides article{
    width: 20%;
    float: left;
    position: relative; /*pour les h3*/
}


/*h3*/
.info h3{
    position: absolute;
    width: 800px;
    height: 50px;
    background-color: lightslategrey;
    opacity: 0.7;
    margin: 1px;
    padding: 10px;
    bottom: 0;
    left: 40%;
    box-shadow: 10px 10px 5px #888888;

}

.info h3:hover{
    background-color: red;
    opacity: 0.5;
    color: white;

}
/*overflow*/
#overflow{
    width: 100%;
    overflow: hidden; /*cacher le debordement cacher tout ce qui est en dehors de la div*/
}
/*inner doit faire nbre image*100% et donc 500%*/
.inner{
    width: 500%;
}

/*images*/
article img{
    width: 100%;
}

/*input on va les cacher*/

#slider input{
    display: none;
}
#active label:hover{
    opacity: 0.5;
    background-color: red;
}
/*on style les labels les uns a cote des autres inlineblock pour width*/
#active label{
    position: relative;
    top: -150px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: gray;
    display: inline-block;
}
/*la div fait 100% donc on centre les labels*/
#active{
    text-align: center;
}
/*----------------------------fonctionnement-----------------------------------------*/
/*qd le cliq sur le lbel de input slide 1 la div cl inner se place a une marge gauche de 0*/
#slide1:checked ~ #slides .inner{
    margin-left: 0;

}
/*qd le cliq sur le lbel de input slide 2 la div cl inner se place a une marge gauche de 0*/
#slide2:checked ~ #slides .inner{
    margin-left: -100%;

}
/*qd le cliq sur le lbel de input slide 3 la div cl inner se place a une marge gauche de 0*/
#slide3:checked ~ #slides .inner{
    margin-left: -200%;

}
/*qd le cliq sur le lbel de input slide 4 la div cl inner se place a une marge gauche de 0*/
#slide4:checked ~ #slides .inner{
    margin-left: -300%;

}
/*qd le cliq sur le label de input slide 5 la div cl inner se place a une marge gauche de 0*/
#slide5:checked ~ #slides .inner{
    margin-left: -400%;
}
/*on anime la div .inner lorsqu elle se deplace pour que la transition soit plus fluide*/
#slides .inner{
    -webkit-transition: ease-in-out;
    transition: ease-in-out;}


/*----------------------------catalogue produits-----------------------------------------*/


#art{
    border-left: 1px solid lightslategrey;
    margin: 10px;


}



#art article{
    height: 410px;
    box-shadow: 10px 10px 5px silver;
}

#art article h2 img{
    border: 2px solid white;
}

.shopping{
    background-color: grey;
    height: 40px;

}
.shopping p{
    float: left;
    margin-left: 5px;

}

.shopping img[alt=panier]{
    float: right;
    margin-right: 5px;
    margin-top: 10px;


}

.shopping a{

}

.res-soc{
    text-align: center;
    clear: left;


}

.res-soc img{
    margin-top: 5px;
    height: 30px;
    width: 30px;

}

/*----------------------------catalogue produits-----------------------------------------*/


/*

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}

aside li a {
    display: block;
    color: #000;
    text-decoration: none;
}
*/

aside li a:hover {
    background-color: #555;
    color: white;
}

/*----------------------------Page contact-----------------------------------------*/

div#form {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}
#form label{
    display: inline-block;
    width: 30%;
    text-align: left;
    margin-left: 30px;
}

input[type=radio]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

input[type=text], select,input[type=tel],input[type=number],input[type=datetime-local] {
    box-shadow: 2px 2px 5px silver inset;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], input[type=reset] {
    margin-left: 50px;
    width: 30%;
    background-color: silver;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover, input[type=reset]:hover {
    background-color: red;
}