/*************************************************************************************************************************************/
/*reset DESKTOP*/
/*************************************************************************************************************************************/
*{
    box-sizing: border-box;
}
aside, div, section, header, footer, nav {
    display: block;
}
html, body, .wrapper, ul, li, ol{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
html {
    background: linear-gradient(silver, white);

    background-repeat: no-repeat;

}
body {
    margin: 0 auto;
}

/*titres*/
h1 {
    font-size: 3em;
    font-weight: normal;
    margin-bottom: .5em;
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 2em;
    font-weight: normal;
    margin-bottom: .2em;
}
h3 {
    font-size: 1.2em;
    margin-bottom: 1em;
    margin: 0;
    padding: 0;
}

h4{
    margin-bottom: 1em;
}
p {
    margin-bottom: 1em;
}
section{
    text-align: center;
}

.wrapper{
    width: 90%;
    margin:0 auto;
}
.main{

}


/*SYSTEME DE GRILLES********************************************************************************************/

/**on divise la largeur de l'écran en 12 colonnes. Chaque colonne occupe un douzième de la page**************/

/*largeur d'1 colonne*/
.col-1 {width: 6.25%;}

/*largeur de 2 colonnes*/
.col-2 {width: 12.5%;}

/*largeur de 3 colonnes*/
.col-3 {width: 18.75%;}

/*largeur de 4 colonnes*/
.col-4 {width: 25%;}

/*largeur de 5 colonnes*/
.col-5 {width: 31.25%;}

/*largeur de 6 colonnes*/
.col-6 {width: 37.5%;}

/*largeur de 7 colonnes*/
.col-7 {width: 43.75%;}

/*largeur de 8 colonnes*/
.col-8 {width: 50%;}

/*largeur de 9 colonnes*/
.col-9 {width: 56.25%;}

/*largeur de 10 colonnes*/
.col-10 {width: 62.5%;}

/*largeur de 11 colonnes*/
.col-11 {width: 68.75%;}

/*largeur de 12 colonnes*/
.col-12 {width: 75%;}

/*largeur de 13 colonnes*/
.col-13 {width: 81.25%;}

/*largeur de 14 colonnes*/
.col-14 {width: 87.5%;}

/*largeur de 15 colonnes*/
.col-15 {width: 93.75%;}

/*largeur de 16 colonnes*/
.col-16 {width: 100%;}

/**on aligne les colonnes les unes à côté des autres avec la propriété float**************/
[class*="col-"] {
    float: left;
    padding: 0 15px;
}

/**
	chaque rangée de colonnes doit être enveloppée dans une div de class "row". on applique un clear:both sur chaque row afin d'annuler l'effet de float
    et éviter que les éléments suivants remontent et entourent le "row"

**/
.row:after {
    content: "";
    clear: both;
    display: block;
}


/**************************/
/*	STYLES JUSQU'A 960PX inclus**********/
@media only screen and (max-width:960px) {
    /*on définit des classes pour les largeurs de colonnes version tablettes*/
    /*largeur d'1 colonne*/
    .col-m-1 {width: 6.25%;}

    /*largeur de 2 colonnes*/
    .col-m-2 {width: 12.5%;}

    /*largeur de 3 colonnes*/
    .col-m-3 {width: 18.75%;}

    /*largeur de 4 colonnes*/
    .col-m-4 {width: 25%;}

    /*largeur de 5 colonnes*/
    .col-m-5 {width: 31.25%;}

    /*largeur de 6 colonnes*/
    .col-m-6 {width: 37.5%;}

    /*largeur de 7 colonnes*/
    .col-m-7 {width: 43.75%;}

    /*largeur de 8 colonnes*/
    .col-m-8 {width: 50%;}

    /*largeur de 9 colonnes*/
    .col-m-9 {width: 56.25%;}

    /*largeur de 10 colonnes*/
    .col-m-10 {width: 62.5%;}

    /*largeur de 11 colonnes*/
    .col-m-11 {width: 68.75%;}

    /*largeur de 12 colonnes*/
    .col-m-12 {width: 75%;}

    /*largeur de 13 colonnes*/
    .col-m-13 {width: 81.25%;}

    /*largeur de 14 colonnes*/
    .col-m-14 {width: 87.5%;}

    /*largeur de 15 colonnes*/
    .col-m-15 {width: 93.75%;}

    /*largeur de 16 colonnes*/
    .col-m-16 {width: 100%;}

.art{
    display: block;
}
#art img{
    max-width: 90%;
}
#art article{
        min-height: 450px;
    }




}

/***********************/
/*STYLES POUR TÉLÉPHONES JUSQU'A 768PX INCLUS*/
@media only screen and (max-width:768px){
    /*on définit des classes pour les largeurs de colonnes version telephones*/
    /*largeur d'1 colonne*/
    .col-s-1 {width: 6.25%;}

    /*largeur de 2 colonnes*/
    .col-s-2 {width: 12.5%;}

    /*largeur de 3 colonnes*/
    .col-s-3 {width: 18.75%;}

    /*largeur de 4 colonnes*/
    .col-s-4 {width: 25%;}

    /*largeur de 5 colonnes*/
    .col-s-5 {width: 31.25%;}

    /*largeur de 6 colonnes*/
    .col-s-6 {width: 37.5%;}

    /*largeur de 7 colonnes*/
    .col-s-7 {width: 43.75%;}

    /*largeur de 8 colonnes*/
    .col-s-8 {width: 50%;}

    /*largeur de 9 colonnes*/
    .col-s-9 {width: 56.25%;}

    /*largeur de 10 colonnes*/
    .col-s-10 {width: 62.5%;}

    /*largeur de 11 colonnes*/
    .col-s-11 {width: 68.75%;}

    /*largeur de 12 colonnes*/
    .col-s-12 {width: 75%;}

    /*largeur de 13 colonnes*/
    .col-s-13 {width: 81.25%;}

    /*largeur de 14 colonnes*/
    .col-s-14 {width: 87.5%;}

    /*largeur de 15 colonnes*/
    .col-s-15 {width: 93.75%;}

    /*largeur de 16 colonnes*/
    .col-s-16 {width: 100%;}
    .art{
        display: block;
    }
    #art img{
        max-width: 80%;
    }
html{
    background: linear-gradient(silver, white);

}
.wrapper{
    width: 100%;
    background: transparent;
}
#logo{
    position: absolute;
    top: 40px;
    right: -20px; /*ne pas changer sinon span ne marche plus masque par la div logo*/

}

    /*on applique une largeur de 100% */
    nav ul li {
        padding: 2px !important;
        text-align: center;
        margin: 0;
        width: 50%;
        border-top:1px solid #48A419;
    }

    /*on justifie à gauche les liens */
    nav ul li a {
        text-align:left;
        padding-left:5px;
    }
    /*on rajoute du padding pour décoller le hamburger */
    .menu-btn {
        padding:6px;
    }


    /*on style le hamburger*/
    .menu-btn span {
        display: block; /*les span se placent les uns sous les autres*/
        width: 50px; /*largeur de la rayure*/
        height: 3px; /*hauteur de la rayure*/
        margin: 8px 0; /*on les sépare*/
        background: #48A419; /*couleur des rayures*/
        z-index: 99;
        opacity: 0.7;


    }

    /*on cache le menu par défaut*/
    .responsive-menu{
        display: none;
    }

    /*on affiche le menu qd l'utilisateur clique sur le hamburger, on ajoute la classe expand en jQuery*/
    .expand {
        display: block !important;
    }


#slider{
    display: none;


}

.info h3{
    font-size: 1rem;
    }

/*.main{
    position: relative;
    top: 300px;
}

#form{
    position: absolute;
    top: 300px;
}*/
#formulaire input{
    width: 100%;
}
#formulaire label{
    font-size: 1.2rem;
    width: 100% !important;
}

#formulaire label sup, sup{
    font-size: 0.6rem;
}


div#form{
    margin: 0;

}

nav ul{
    height: auto !important;

}
header{
    height: auto !important;
}


}

















/*END SYSTEME DE GRILLES*************************************************************************************/

/*---------------------------------header-----------------------------------------------------------*/

nav ol{
    height: 30px;
    background-color: #A5C77F;
}

nav ol li{
    display: inline-block;
    float: left;
    padding: 5px;

}

/*nav ol li:nth-of-type(even){*/
    /*position: relative;*/
    /*top: 5px;*/

/*}*/

/*nav ol li:nth-of-type(odd){*/
    /*position: relative;*/


/*}*/
header

nav ol li a{
text-decoration: none;
    display: block;
    color: black;
    font-size: 0.9rem;

}

nav ol li a span{

}

nav ol li a:hover{
    color: red;
    font-weight: bold;
}

img[alt=compte]{
    width: 40px;
    height: 40px;

}

header{
    height: 250px;
}

img[alt=panier]{
    width: 20px;
    height: 20px;

}

img[alt=loupe]{
    width: 20px;
    height: 20px;

}

nav ul{
    text-align: center;
    padding-bottom: 20px;
    height: 60px;
    width: 100%;

}
nav ul li{
    display: inline-block;
    padding-bottom: 20px;
    padding-left: 20px;

}


nav ul li a{
    display: block;
    text-decoration: none;
    display: block;
    line-height: 40px;
    color:red;
    font-weight: bold;
    height: 40px;
    text-align:center;
    padding: 8px;

}

nav ul li a:hover{
    color: green;


}
nav ul li a:active{
    border-bottom: 2px solid green;
}


#logo{
    /*margin: 0 auto;*/
    /*width: 300px;*/
    clear: both;
    text-align: center;

}
#logo img{
    width: 20%;
}

.active{
    border-bottom: 5px solid black;
}





/*modal box pour login*/
#id01{
    width: 400px;
}

/* Full-width input fields */
.modallog, #use_name {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 6px 20px;
    margin: 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: orange;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: orange;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}


/*---------------------------------slider-----------------------------------------------------------*/


/*styler les art qui cont h3 et img*/
/*
#slides{
    !*width: 100%;*!
    border-right: 10px solid greenyellow;

}*/

#slider{
    height: 550px;
}
#slides article{
    width: 20%;
    float: left;
    position: relative; /*pour les h3*/
}


/*h3*/
.info h3{
    position: absolute;

    width: 80%;
    height: 15%;
    background-color: lightslategrey;
    opacity: 0.7;
    margin: 1px;
    padding: 10px;
    bottom: 0;
    box-shadow: 10px 10px 5px #888888;

}

.info h3:hover{
    background-color: red;
    opacity: 0.5;
    color: white;

}
/*overflow*/
#overflow{
    width: 100%;
    overflow: hidden; /*cacher le debordement cacher tout ce qui est en dehors de la div*/
}
/*inner doit faire nbre image*100% et donc 500%*/
.inner{
    width: 500%;
}

/*images*/
article img{
    width: 100%;
}

/*input on va les cacher*/

#slider input{
    display: none;
}
#active label:hover{
    opacity: 0.5;
    background-color: red;
}
/*on style les labels les uns a cote des autres inlineblock pour width*/
#active label{
    position: relative;
    top: -150px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: gray;
    display: inline-block;
}
/*la div fait 100% donc on centre les labels*/
#active{
    text-align: center;
}
/*----------------------------fonctionnement-----------------------------------------*/
/*qd le cliq sur le lbel de input slide 1 la div cl inner se place a une marge gauche de 0*/
#slide1:checked ~ #slides .inner{
    margin-left: 0;

}
/*qd le cliq sur le lbel de input slide 2 la div cl inner se place a une marge gauche de 0*/
#slide2:checked ~ #slides .inner{
    margin-left: -100%;

}
/*qd le cliq sur le lbel de input slide 3 la div cl inner se place a une marge gauche de 0*/
#slide3:checked ~ #slides .inner{
    margin-left: -200%;

}
/*qd le cliq sur le lbel de input slide 4 la div cl inner se place a une marge gauche de 0*/
#slide4:checked ~ #slides .inner{
    margin-left: -300%;

}
/*qd le cliq sur le label de input slide 5 la div cl inner se place a une marge gauche de 0*/
#slide5:checked ~ #slides .inner{
    margin-left: -400%;
}
/*on anime la div .inner lorsqu elle se deplace pour que la transition soit plus fluide*/
#slides .inner{
    -webkit-transition: ease-in-out;
    transition: ease-in-out;}


/*----------------------------catalogue produits-----------------------------------------*/


#art{
    border-left: 1px solid lightslategrey;
    margin: 10px;


}



#art article{
    height: 410px;
    box-shadow: 10px 10px 5px silver;
}

#art article h2 img{
    border: 1px solid darkgray;
}

.shopping{
    background-color: silver;
    height: 40px;
    padding: 0;

}
.shopping p{
    padding-left: 10px;
    margin-top: 10px;


}

#comm-panier{
    /*  position: absolute;
      right: 0;*/
    margin-top: 10px;
    width: 70px;
    height: 20px;
    background: transparent;

}


.shopping img[alt=panier]{
    float: right;
    margin-top: 10px;


}

.shopping a{

}

.res-soc{
    text-align: center;
    clear: left;


}

.res-soc img{
    margin-top: 5px;
    height: 30px;
    width: 30px;

}

/*----------------------------aside-----------------------------------------*/

aside{
    width: 100%;
    padding: 10px;
}

aside h3{
    font-size: 1rem;
}

aside h3 a{
    display: block;
    text-decoration: none;
    color: black;
}

aside h3 a:hover{

    color: green;
}

aside ul {
    list-style-type: none;
    margin: 5px 0 0 0;
    background-color: #EDF7F2;
    border-radius: 5px;

    padding: 0;
}

aside ul h4{
    margin: 0;
    margin-left: 10px;
    padding-top: 10px;
}

aside ul a{
    display: block;
    text-decoration: none;
    color: black;
    text-shadow: 5px 5px 5px white;
    opacity: 0.8;


}

aside ul a:hover {
    color: green;
    /*
    background-color: #A5C77F;
    */

}
aside li{

    margin-left: 20px;
}

aside li a {
    display: block;
    color: #000;
    text-decoration: none;
}
/*----------------------------Page details-----------------------------------------*/

#bouton_details a, #bouton_retour a{
    display: block;
    line-height: 40px;
    height: 40px;
    /*background-color: #FD9700;*/
    text-align:center;
}





/*----------------------------Page contact-----------------------------------------*/

div#form {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}
#formulaire label{
    display: inline-block;
    width: 30%;
    text-align: left;
    margin-left: 30px;
}

#formulaire label sup, sup{
    color: red;
}

input[type=radio]{
    width: 20%;
    margin: 10px;
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
}

#rad1, #rad2{
    width: 100%;
}

input[type=text], select,input[type=tel],input[type=number]{
    box-shadow: 2px 2px 5px silver inset;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=datetime-local]{
    box-shadow: 2px 2px 5px silver inset;
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
}

label#comment{
    display: inline-block;
    width: 50%;
}



textarea{
    width: 50%;
    box-shadow: 2px 2px 5px silver inset;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;

}

#contact, input[type=reset] {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    /*
    margin-left: 50px;
    */
    margin-top: 15px;
    width: 20%;
    background-color: silver;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contact:hover, input[type=reset]:hover {
    background-color: red;
}

.invalid p{
    font-size: 0.8rem;
    font-weight: bold;
    color: green;
}

/*----------------------------Page livraison-----------------------------------------*/



input[name=panier_remove]{
    display: block;
    color: black;
}


#details{
    border: none;

    text-align: center;
    border-collapse: collapse;

}

table th{
    background-color: gray;
}
#details tr:nth-of-type(2n+1){
    /*background-color: beige;*/

    height: 40px;
}

#details tr:nth-of-type(2n){

    background-color: silver;
}



/*----------------------------footer----------------------------------------*/



footer .bloc {
    height:40px;
    line-height:40px;
    width:100%;
    float:left;
}

footer .bloc a {
    color:black;
    text-decoration:none;
}
footer .bloc a:hover {
    text-decoration:underline;
    color: green;
}

footer p{
    font-size: 0.8rem;
    font-weight: bold;
}